#contact iframe {
    width: 100%;
    margin-top: 20px;
}

.main_travel {
    border: 1px solid black;
}

.main_travel img {
    width: 100%;
}

.main_travel h5,
.main_travel p {
    margin: 20px;
}

#movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#movie_head i {
    float: right;
}

.movie-text span {
    color: Gold;
}

.book {
    margin-bottom: 20px;
}

.bog img {
    width: 350px;
}

#book head {
    width: 50%;
}